<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{@title}}</title>
</head>
<body>

<div id="es-app">{{{@body}}}</div>
<button id="check-answer-button">Check Answer</button>
<button id="change-category-button">Change Category</button>

</body>
</html>
